/* Define o estilo do body, centralizando o conteúdo e ajustando o fundo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('img/nike-nba.jpeg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* Estilo para o container do formulário de login */
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para o container da logo */
.logo-container {
    margin-bottom: 20px;
}

/* Estilo para a imagem da logo */
.logo {
    width: 100px;
    cursor: pointer;
    animation: rotate 3s linear infinite;
}

/* Animação de rotação */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Estilo para o título da seção de login */
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para os campos de entrada */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo para os botões */
button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para o botão de login com o Google */
.google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    background-color: #4285f4;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.google-button:hover {
    background-color: #357ae8;
}

.google-logo {
    width: 20px;
    margin-right: 10px;
}

/* Estilo para as mensagens de erro */
.error {
    color: red;
    font-size: 12px;
    height: 12px;
}

#message {
    margin-top: 15px;
    color: red;
}

.policy-text {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.policy-text a {
    color: #007bff;
    text-decoration: none;
}

.policy-text a:hover {
    text-decoration: underline;
}

.separator {
    margin: 15px 0;
    text-align: center;
    color: #666;
}

